<template>
  <div id="app">
    <h1>vue json tree</h1>

    <div v-if="jsonObj != null">
      <div v-for="i in jsonObj">
        <item :obj="i"></item>
      </div>

      <pre>{{ jsonObj }}</pre>
    </div>
    <div v-else>Vi henter...</div>

    
  </div>
</template>

<script>
import Item from './Item.vue';
export default {
  name: 'app',
  components: {
    Item
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      jsonObj: null
    };
  },

  mounted() {
    fetch('https://api.github.com/users').then(response => {
      return response.json();
    }).then(json => {
      console.log(json);
      this.jsonObj = json;
    })
  }
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
