<template>
  <div>
    <div @click="isOpen = !isOpen">Dette er et elememt</div>
    <div v-if="isOpen">{{ obj }}</div>
  </div>
</template>

<script>
export default {
  name: 'Item',

  props: {
    obj: Object
  },

  data: () => ({
    isOpen: false
  })
};
</script>